<div class="filters">
  <!-- Creating a form with several selections -->
  <mat-form-field>
    <mat-label>Sort</mat-label>
    <!-- Update sort selection and every time the selection changes, call searchGames() with the sort value selected -->
    <mat-select
      panelClass="sort-select"
      [(ngModel)]="sort"
      (selectionChange)="searchGames(sort)">
      <mat-option value="name">Name</mat-option>
      <mat-option value="released">Released</mat-option>
      <mat-option value="added">Added</mat-option>
      <mat-option value="created">Created</mat-option>
      <mat-option value="updated">Updated</mat-option>
      <mat-option value="rating">Rating</mat-option>
      <mat-option value="metacritic">Metacritic</mat-option>
    </mat-select>
  </mat-form-field>
  <button (click)="invertSort()">Reverse</button>
</div>

<!-- There are 2 games-pages components and both of their currentPage will display the currentPage value of the home component, which is equal to the currentPage value in httpService -->
<div>
  <app-games-pages [currentPage]="currentPage" (switchPageEvent)="updatePage()"></app-games-pages>
</div>

<div class="games">
  <!-- Iterating through every game that was gotten from the API -->
  <ng-container *ngFor="let game of games">
    <div class="game" (click)="openGameDetails(game.id)">
      <div class="game-thumb-container">
        <!-- Check if there is a background image for a game -->
        <img
          *ngIf="game.background_image"
          src="{{ game.background_image }}"
          alt="thumbnail"
          class="game-thumbnail"
        />
      </div>
      <!-- If no images are found, just print No image -->
      <p *ngIf="!game.background_image">No image</p>

      <div class="game-description">
        <p class="game-name">{{ game.name }}</p>
        <div class="game-platforms">
          <!-- Going through every parent platform of a game and displaying them -->
          <img
            *ngFor="let gamePlatform of game.parent_platforms"
            class="game-platform"
            src="assets/images/platforms/{{ gamePlatform.platform.name}}.svg"
            alt="{{gamePlatform.platform.name}}"
          />
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div>
  <app-games-pages [currentPage]="currentPage"></app-games-pages>
</div>
